@media (min-width: 615px) {

    .barra-inferior, .topo-celular {
        display: none;
    }
    
}


@media (max-width: 936px) {

    .conteudo {
        width: 100%;
    }

    .sugestoes {
        display: none;
    }

    .topo {
        width: 100%;
    }

    .logo {
        margin-left: 20px;
    }

    .icones {
        margin-right: 20px;
    }

    .sugestoes {
        display: none;
    }

}


@media (max-width: 615px) {

    .logo, .pesquisar, .icones, .stories-seta {
        display: none;
    }

    .stories-img {
        overflow-x: scroll;
    }

    .topo, .corpo {
        width: 100%;
        position: relative;
    }

    .topo-celular {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .topo-celular img {
        height: 29px;
        width: 103px;
    }

    .topo-celular ion-icon {
        font-size: 20px ;
    }

    .topo-celular ion-icon:first-child {
        margin-left: 20px;
    }

    .topo-celular ion-icon:last-child {
        margin-right: 20px;
    }

    .corpo {
        margin-top: 54px;
    }

    .stories {
        border: none;
        margin-bottom: 0;
        background-color: rgb(250, 250, 250);
    }

    .imagem:last-child {
        margin-bottom: 80px;
    }

    .barra-inferior {
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        border-top: 1px solid #DBDBDB;;
        position: fixed;
        bottom: 0;
        z-index: 10;
    }

    .barra-inferior ion-icon:first-child {
        margin-left: 20px;
    }

    .barra-inferior ion-icon:last-child {
        margin-right: 20px;
    }

    .barra-inferior ion-icon {
        font-size: 20px;
    }

}
